.ui-touch-ripple-root {
  display: block;
  position: absolute;
  overflow: hidden;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  pointer-events: none; /* Ignore clicks */
}

.ui-touch-ripple-ripple {
  position: absolute;
  opacity: 0;
  animation-name: ui-ripple-enter;
  animation-duration: 550ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ui-touch-ripple-child {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0.3;
}

@keyframes ui-ripple-enter {
  0% {
    transform: scale(0);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}
