.ui-overlay-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* High z-index */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui-overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  -webkit-tap-highlight-color: transparent;
}

.ui-overlay-content {
  position: relative;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  pointer-events: auto;
}
