.ui-checkbox-base-root {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  outline: 0;
  user-select: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.ui-checkbox-base-root.ui-checkbox-base-disabled {
  cursor: default;
  pointer-events: none;
}

.ui-checkbox-base-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: inherit;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.ui-checkbox-base-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  border-radius: 2px;
  border: 2px solid currentColor;
  background-color: transparent;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #616161;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12);
}

.ui-checkbox-base-icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 200ms ease-in;
  top: 45%;
  left: 50%;
  margin-top: -6px;
  margin-left: -3px;
}

.ui-checkbox-base-input:checked ~ .ui-checkbox-base-icon {
  background-color: #1976d2;
  border-color: #1976d2;
  color: white;
}

.ui-checkbox-base-input:checked ~ .ui-checkbox-base-icon::after {
  opacity: 1;
}

.ui-checkbox-base-input:indeterminate ~ .ui-checkbox-base-icon {
  background-color: #1976d2;
  border-color: #1976d2;
  color: white;
}

.ui-checkbox-base-input:indeterminate ~ .ui-checkbox-base-icon::after {
  opacity: 1;
  width: 5px;
  height: 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(0deg);
  margin-left: -4px;
  margin-top: -1px;
  margin-bottom: -1px;
}

.ui-checkbox-base-input:focus-visible ~ .ui-checkbox-base-icon {
  box-shadow: 0 0 0 3px rgba(25, 118, 210, 0.3);
}

.ui-checkbox-base-root:hover .ui-checkbox-base-icon:not(.ui-checkbox-base-disabled) {
  /* Remove background-color on hover to avoid overriding checked state */
}

.ui-checkbox-base-root:hover .ui-checkbox-base-input:not(:checked) ~ .ui-checkbox-base-icon {
  background-color: rgba(25, 118, 210, 0.04);
}

.ui-checkbox-base-root.ui-checkbox-base-disabled .ui-checkbox-base-icon {
  background-color: #e0e0e0;
  border-color: rgba(0, 0, 0, 0.26);
  color: rgba(0, 0, 0, 0.26);
}

.ui-checkbox-base-root.ui-checkbox-base-disabled .ui-checkbox-base-icon::after {
  border-color: rgba(0, 0, 0, 0.26);
}

/* Sizes */
.ui-checkbox-base-root.ui-checkbox-base-size-small .ui-checkbox-base-icon {
  width: 0.75rem;
  height: 0.75rem;
}

.ui-checkbox-base-root.ui-checkbox-base-size-medium .ui-checkbox-base-icon {
  width: 1rem;
  height: 1rem;
}
